.mainContainer {
    background-image: url('../../images/login-register-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.loginBox {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.rowCenter {
    text-align: center;
    margin-left: 15px !important;
    margin-right: 15px !important;
}